<div layout="column" layout-align="space-between center" style="width: 100%; height: 100%;">
    <md-toolbar>
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <p flex></p>

            <div layout="row" layout-align="center">
              <p>{{ main.title }}</p>
            </div>

            <p flex></p>
        </div>
    </md-toolbar>

    <div flex layout layout-align="center center" style="width: 100%; height: 90%;">
      <md-whiteframe class="md-whiteframe-z3" layout="column" layout-align="center center" style="width: 86%; height: 33%;">
        <!--md-button class="md-raised" style="width: 90%;" ng-click="main.goToGoogleMaps()">
            Google Maps API
        </md-button-->

        <md-button class="md-raised" style="width: 90%;" ng-click="main.goToNgGoogleMaps()">
            Google Maps
        </md-button>

        <md-button class="md-raised" style="width: 90%;" ng-click="main.goToMapLink()">
            MapLink
        </md-button>

        <md-button class="md-raised" style="width: 90%;" ng-click="main.goToHereMaps()">
            HereMaps
        </md-button>
      </md-whiteframe>
    </div>
</div>
